{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set navbar_attributes = create_attribute() %}
{# Navbar #}
{% block navbar %}
{%
  set navbar_classes = [
    'navbar',
    theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
    theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
  ]
%}
<div class="l-page">
  <header {{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
    <div class="{{ container }} region-header">
      <a class="logo navbar-btn pull-left" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="/{{ directory }}/logo.jpg" alt="{{ 'Home'|t }}" />
      </a>
      {% if site_name and site_slogan %}
        <div class="name-and-slogan">
      {% endif %}
        {% if site_name %}
          <h1 class="name navbar-brand"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></h1>
        {% endif %}
        {% if site_slogan %}
          <h1 class="navbar-text">{{ site_slogan }}</h1>
        {% endif %}
      {% if site_name and site_slogan %}
        </div>
      {% endif %}
    </div>
  </header>
  {% endblock %}

  {# Main #}
  <main role="main" class="main-container {{ container }}">
    <div class="row">
      <section class="col-sm-12 maintenance-message">
        {% if title %}
          <h1 class="maintenance-title">{{ title }}</h1>
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>
    </div>
  </main>
</div>
